<footer class="footer">
  <div class="container" style="white-space: nowrap; overflow-x: hidden;">
    <span class="text-muted"><i class="fas fa-copyright"></i> 2019 Siriraj Medical Camp 21th, Faculty of Medicine, Siriraj Hospital, Mahidol University</span>
    <a href="/" style="position: absolute; right: 10px"><i class="fas fa-home"></i></a>
  </div>
</footer>