<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ข้อตกลง - ค่ายเส้นทางสู่หมอศิริราชครั้งที่ 21</title>
    <link rel="stylesheet" href="/normal-bundle.css">
    <%- include('../includes/css.ejs') %>
    <style>
      iframe {
        width: 100%;
        height: 500px;
      }
    </style>
  </head>
  <body>
    <img src="https://storage.googleapis.com/simc-web.appspot.com/public/web/carousel/carousel_201005_0.jpg" width="100%" style="margin-bottom: 20px;">
    <div class="container">
      <h3 style="text-align: center;">- 00 -<br>Agreement</h3>
      <br>
      <br>
      <form method="post" action="/exam" enctype="multipart/form-data">
        <input type="text" class="form-control" style="display:none;" name="part" value="0">
        <div class="form-group">
          <div id="frame">
            <iframe frameborder="0" src="https://drive.google.com/file/d/14HKEsgZT_F7tKdnstk2XPm2wArMAdjw0/preview"></iframe>
          </div>
          <p style="color: red;">* ผู้สมัครต้องไม่เคยเข้าร่วมกิจกรรมค่ายเส้นทางสู่หมอศิริราชมาก่อน</p>
        </div>
        <div class="form-group">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="agree" required>
            <label class="form-check-label" for="agree">
              ฉันยอมรับข้อกำหนดเหล่านี้ทั้งหมด
            </label>
          </div>
        </div>
        <button class="btn btn-primary" type="submit">เริ่มทำข้อสอบ</button>
        <br>
        <br>
      </form>
    </div>
    <%- include('../includes/footer.ejs'); %>
    <script src="/normal-bundle.js"></script>
  </body>