<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IQ - ค่ายเส้นทางสู่หมอศิริราชครั้งที่ 20</title>
    <link rel="stylesheet" href="/normal-bundle.css">
    <%- include('../css.ejs') %>
  </head>
  <body>
    <img src="images/hd_png.png" width="100%" style="margin-bottom: 0; z-index: 1; position: relative">
    <nav aria-label="Page navigation">
      <ul class="pagination justify-content-center">
        <li class="page-item">
          <a class="page-link" href="/exam?part=<%= part-1 %>" aria-label="Previous">
            <span aria-hidden="true"><i class="fas fa-angle-double-left"></i></span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
        <li class="page-item"><a class="page-link" href="/exam?part=1">1</a></li>
        <li class="page-item"><a class="page-link" href="/exam?part=2">2</a></li>
        <li class="page-item active"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="/exam?part=4">4</a></li>
        <li class="page-item"><a class="page-link" href="/exam?part=5">5</a></li>
        <li class="page-item">
          <a class="page-link" href="/exam?part=<%= part+1 %>" aria-label="Next">
            <span aria-hidden="true"><i class="fas fa-angle-double-right"></i></span>
            <span class="sr-only">Next</span>
          </a>
        </li>
      </ul>
    </nav>
    <div class="container">
      <form method="post" action="/exam/start">
        <h3 style="text-align: center;">- 03 -<br>IQ</h3>
        <p>ข้อสอบในส่วนนี้มีทั้งหมด 25 ข้อ เป็นปรนัย 5 ตัวเลือก และจะมีการจับเวลาในการทำ<b>ภายใน 3 ชั่วโมง</b> โดยเริ่มจับเวลาหลังจากกดปุ่มเริ่มทำข้อสอบ หากเกิดเหตุขัดข้องระหว่างทำข้อสอบ สามารถกลับมาทำได้ภายในเวลาที่กำหนด และ<b>เมื่อกดส่งคำตอบแล้วจะไม่สามารถกลับมาทำใหม่ได้อีกครั้ง</b></p>
        <input style="display: none;" name="part" value="<%= part %>">
        <br>
        <button type="submit" class="btn btn-primary">เริ่มทำข้อสอบ</button>
        <br>
      </form>
    </div>
    <script src="/normal-bundle.js"></script>
  </body>
</html>