<%
  let ex = [], cnt = 0;
  exam.forEach(e => {
    if(e.part == 3 || e.part == 1) return ;
    if(!ex[e.part]) ex[e.part] = [];
    ex[e.part][e.num] = true;
    cnt++;
  });
  oldAnswer.forEach(e => {
    if(e.part == 3 || e.part == 1) return ;
    if(e.ans) {
      delete ex[e.part][e.num];
      cnt--;
    }
  });
  if(!user.endTime) {
    ex[3] = ['(ยังไม่ได้ทำข้อสอบชุดนี้)'];
    cnt++;
  }
%>
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ทบทวนก่อนส่ง - ค่ายเส้นทางสู่หมอศิริราชครั้งที่ 20</title>
    <link rel="stylesheet" href="/normal-bundle.css">
    <%- include('../css.ejs') %>
  </head>
  <body>
    <img src="images/hd_png.png" width="100%" style="margin-bottom: 0; z-index: 1; position: relative">
    <div class="container">
      <%
        if(cnt) {
      %>
      <div class="row">
        <div class="col">
          <h3 style="text-align:center;">ข้อที่ยังไม่ได้ทำ</h3>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">ชุดที่</th>
                <th scope="col">ข้อที่</th>
              </tr>
            </thead>
            <tbody>
              <%
                ex.forEach((i, i1) => {
                  i.forEach((j, j1) => {
                    if(j1 == 0) j1 = ex[i1][j1];
              %>
              <tr>
                <td><%= i1 %></td>
                <td><%= j1 %></td>
              </tr>
              <%
                  });
                });
              %>
            </tbody>
          </table>
        </div>
      </div>
      <%
        }
        else {
      %>
      <div class="row">
        <div class="col">
          <h3 style="text-align:center;">ทบทวนคำตอบอีกครั้ง</h3>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p style="text-align:center;">ถ้าพร้อมแล้วกดส่งได้เลย</p>
        </div>
      </div>
      <div class="row">
        <div class="col" style="text-align:center;">
          <button type="button" class="btn btn-primary" onclick="window.location='/submit';">ส่ง (ไม่สามารถกลับมาแก้ไขได้)</button>
        </div>
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <%
        }
      %>
      <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
          <li class="page-item"><a class="page-link" href="/exam?part=1">1</a></li>
          <li class="page-item"><a class="page-link" href="/exam?part=2">2</a></li>
          <li class="page-item"><a class="page-link" href="/exam?part=3">3</a></li>
          <li class="page-item"><a class="page-link" href="/exam?part=4">4</a></li>
          <li class="page-item"><a class="page-link" href="/exam?part=5">5</a></li>
        </ul>
      </nav>
    </div>
    <%- include('../footer.ejs'); %>
    <script src="/normal-bundle.js"></script>
  </body>
</html>
