<!DOCTYPE html>
<html>
  <head>
    <title>Scoreboard - ค่ายเส้นทางสู่หมอศิริราชครั้งที่ 21</title>
    <link rel="stylesheet" href="/home-bundle.css">
  </head>
  <body>
    <!-- <img src="https://storage.googleapis.com/simc-web.appspot.com/public/web/hd_png.png" width="100%" style="margin-bottom: 0; z-index: 1; position: relative"> -->
    <br><br><br>
    <div class="container">
      <h1 style="text-align: center;">เพิ่มคะแนน</h1>
      <br>
      <form action="add" method="post" autocomplete="off">
        <div class="form-group form-row">
          <label for="nameinput" class="col-form-label">ฐาน</label>
          <div class="col">
            <select class="form-control" id="nameinput" name="nameinput" required>
              <option disabled selected value="-ไม่ได้เลือกฐาน-">Please select</option>
              <option value="กรอส">กรอส</option>
              <option value="ปรสิต">ปรสิต</option>
              <option value="แลปกริ๊ง">แลปกริ๊ง</option>
              <option value="Forensic">Forensic</option>
              <option value="OSCE">OSCE</option>
            </select> 
          </div>
        </div>
        <%
          for(let i = 1; i <= 20; i++) {
        %>
        <div class="form-group form-row">
          <label for="nameinput" class="col-form-label">กลุ่ม #<%= i %> <img src="https://storage.googleapis.com/simc-web.appspot.com/public/web/scoreboard/groups/<%= i %>.jpg" alt="groupimage" width="40" height="40"/></label>
          <div class="col-6 col-sm-4 col-md-2">
            <input type="text" class="form-control" id="score<%= i %>" name="<%= i %>" placeholder="คะแนน">
          </div>
        </div>
        <%
          }
        %>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </div>
    <script src="/home-bundle.js" defer></script>
  </body>
</html>
