<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ปิดรับสมัครแล้วจ้า - ค่ายเส้นทางสู่หมอศิริราชครั้งที่ 21</title>
    <link rel="stylesheet" href="/normal-bundle.css">
  </head>
  <body>
    <img src="https://storage.googleapis.com/simc-web.appspot.com/public/web/close.jpg" width="100%" style="margin-bottom: 0; z-index: 1; position: relative">
    <div class="container"></div>
    <script src="/normal-bundle.js"></script>
  </body>
</html>