<footer class="footer">
  <div class="container">
    <br>
    <div style="text-align: center;">
      <img src="https://storage.googleapis.com/simc-20.appspot.com/public/web/spon1.jpg" width="25%" alt="uniloft">
      <img src="https://storage.googleapis.com/simc-20.appspot.com/public/web/spon2.jpg" width="25%" alt="AJ">
    </div>
    <span class="text-muted"><i class="fas fa-copyright"></i> 2018 Siriraj Medical Camp 20th, Faculty of Medicine, Siriraj Hospital, Mahidol University</span>
    <a href="/" style="position: absolute; right: 10px"><i class="fas fa-home"></i></a>
  </div>
</footer>