<footer class="footer">
  <div class="container">
    <span class="text-muted"><i class="fas fa-copyright"></i> 2018 Siriraj Medical Camp 20th, Faculty of Medicine, Siriraj Hospital, Mahidol University</span>
  </div>
</footer>