<!DOCTYPE html>
<html>
<head>
  <style>
    html, body, .container {
      height: 100%;
      margin: 0;
    } /* http://bit.ly/2NvWtqh */
    iframe {
      position: absolute;
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
      border: 3px solid red;
    }
    #frame {
      margin: 0 auto;
      width: 100%;
      position: relative;
      padding-top: 60%;
      border: 3px solid blue; /* http://bit.ly/2muq8ES */
    }
  </style>
</head>
<body>
  <% if (alertType != 'none') { %>
    <div style="display:none;" id="alert" alert-type="<%= alertType %>"><%= alert %></div>
  <% } %>
  <div class="container">
    <h2>Woohoo!</h2>
    <p>Welcome to SIMC! <%= name %></p>
    <p
      <% if (name) { %>
        style="display:none;"
      <% } %> 
    >
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#loginModal" id="loginModalButton">
        Login
      </button>
      or register <a href="/register">here!</a>
    </p>
    <p
      <% if (!name) { %>
        style="display:none;"
      <% } %>
    >
      So, let's do the <a href="/exam">exam!</a> or <a href="/logout">logout</a>
    </p>
    <div id="frame">
    <iframe frameborder="0" src="https://drive.google.com/file/d/1Zwe4qAV16acviqRfAQJpq42XFdne2iaB/preview"></iframe>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="loginModalLabel">Login</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form id="loginForm" method="post" action="/login">
          <div class="modal-body">
            <div class="form-row">
              <div class="col">
                <div class="form-group">
                  <label for="emailInput">Email</label>
                  <input type="email" class="form-control" id="emailInput" name="email" aria-describedby="emailHelp" placeholder="Email" required>
                  <small id="emailHelp" class="form-text text-muted">Just put your email here, y'know ?</small>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="col">
                <div class="form-group">
                  <label for="passwordInput">Password</label>
                  <input type="password" class="form-control" id="passwordInput" name="password" aria-describedby="passwordHelp" placeholder="Password" required>
                  <small id="passwordHelp" class="form-text text-muted">Nah, Don't be paranoid. I will keep it secret.</small>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Login</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <script src="/js/home-bundle.js"></script>
</body>
</html>
