<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>สมัครเข้าค่าย - ค่ายเส้นทางสู่หมอศิริราชครั้งที่ 20</title>
    <link rel="stylesheet" href="/home-bundle.css">
    <%- include('includes/css.ejs') %>
  </head>
  <body>
    <div class="container">
      <br>
      <h2>สมัครเข้าค่าย</h2>
      <br>
      <form method="post" action="/register">
        <div class="form-group">
          <label for="emailInput">อีเมล</label>
          <input type="email" class="form-control" id="emailInput" aria-describedby="emailHelp" placeholder="ใส่อีเมล" name="email" required>
          <div class="valid-feedback">
            อีเมลนี้ใช้ได้
          </div>
          <div class="invalid-feedback" id="emailInvalid">
          </div>
        </div>
        <div class="form-group">
          <label for="passwordInput">รหัสผ่าน</label>
          <input type="password" class="form-control" id="passwordInput" placeholder="รหัสผ่าน" name="password" required>
          <div class="invalid-feedback">
            รหัสผ่านต้องมีอย่างน้อย 4 ตัวอักษร
          </div>
        </div>
        <div class="form-group">
          <label for="passwordConfirmInput">ยืนยันรหัสผ่าน</label>
          <input type="password" class="form-control" id="passwordConfirmInput" placeholder="ยืนยันรหัสผ่าน" name="passwordConfirm" required>
          <div class="invalid-feedback">
            รหัสผ่านไม่ตรงกัน
          </div>
        </div>
        <input name="token" id="token" class="is-valid" style="display:none;">
        <button type="submit" class="btn btn-primary">สมัครสมาชิก</button>
      </form>
    </div>
    <%- include('includes/footer.ejs'); %>
    <script src="/register-bundle.js"></script>
  </body>
</html>