<!DOCTYPE html>
<html>
  <head>
    <title>ประกาศผล - ค่ายเส้นทางสู่หมอศิริราชครั้งที่ 20</title>
    <link rel="stylesheet" href="/normal-bundle.css">
    <%- include('css.ejs') %>
  </head>
  <body>
    <img src="https://storage.googleapis.com/simc-20.appspot.com/public/web/hd_png.png" width="100%" style="margin-bottom: 0; z-index: 1; position: relative">
    <br>
    <br>
    <div class="container-fluid">
      <%
        if(userData.pass) {
      %>
      <h1 style="color: green; text-align: center;"><b style="font-size: inherit;">🌟 ยินดีด้วย น้องผ่านการคัดเลือก 🌟<br>แล้วเจอกันในค่ายจ้า</b></h1>
      <%
        }
        else {
      %>
      <h1 style="color: red; text-align: center;"><b style="font-size: inherit;">😢 เสียใจด้วย ไว้เจอกันโอกาสหน้าน้า T^T 😢</b></h1>
      <%
        }
      %>
      <br><br>
      <h1 style="text-align: center;">ดูผลการคัดเลือกทั้งหมดได้ <a href="https://drive.google.com/file/d/10CJtlNADSeJXugIWkk3zjETYdusTw-Vg/view" target="_blank" style="font-size: inherit;">ที่นี่</a></h1>
    </div>
    <div class="container"></div>
    <%- include('footer.ejs'); %>
    <script src="/normal-bundle.js"></script>
  </body>
</html>