<!DOCTYPE html>
<html>
  <head>
    <title>ประกาศผล - ค่ายเส้นทางสู่หมอศิริราชครั้งที่ 21</title>
    <link rel="stylesheet" href="/normal-bundle.css">
    <%- include('includes/css.ejs') %>
  </head>
  <body>
    <%
      if (user && user.get('pass')) {
    %>
    <img src="https://storage.googleapis.com/simc-web.appspot.com/public/web/pass.png" width="100%" style="margin-bottom: 0; z-index: 1; position: relative">
    <%
      }
      else {
    %>
    <img src="https://storage.googleapis.com/simc-web.appspot.com/public/web/fail.png" width="100%" style="margin-bottom: 0; z-index: 1; position: relative">
    <%
      }
    %>
    <br><br>
    <br>
    <br>
    <div class="container-fluid">
      <h2 style="text-align: center;">ดูผลการคัดเลือกทั้งหมดได้<a href="https://drive.google.com/file/d/1LiY106msS_0yVMaFAZCenCGOTcvCINCu/view" target="_blank" style="font-size: inherit;">ที่นี่</a></h2>
      <br>
      <%
        if (user && user.get('pass')) {
      %>
          <h2 style="text-align: center;">จ่ายเงินผ่านระบบคณะ<a href="http://www1.si.mahidol.ac.th/division/conference/conference/sm_index.php?sm_id=771&menu=1&lang=TH" target="_blank" style="font-size: inherit;">ที่นี่</a></h2>
      <%
        }
      %>
    </div>
    <div class="container"></div>
    <%- include('includes/footer.ejs'); %>
    <script src="/normal-bundle.js"></script>
  </body>
</html>