<html>

	<head>

		<meta name="viewport" charset="UTF-8" content="width=device-width, initial-scale=1">
		<title>SIMC</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
		
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
		<link rel="stylesheet" href="css/style.css">
	</head>


	<body onload="loading()" style="margin:0;">

		<div class="mainbg"></div>
		<!-- <div class="protect"></div> -->
			
		<div id="loader"></div>

		<div id="content" style="display:none;" class="loadfade">
			<br>
			<h1 class="topthreebox" style="border-radius: 10px; color: white; font-size:200% !important; display: inline-block; padding: 10px; min-width: 30%; line-height: 200%; background-image: url('imgs/headbg2.png');">Hero Scoreboard</h1>
			<div id= "topthree" class="pricing topthreemain"></div>

			<div style="margin: 20px">
				<!--<div class="maintable_h" style="border-top-right-radius: 5px; border-top-left-radius: 5px;">
					<table cellpadding="0" cellspacing="0" border="0">
						<tr style="font-weight: bold;">
							<th style="text-align: center; width: 50px;">อันดับที่</th>
							<th>ชื่อทีม</th>
							<th>คะแนน</th>
						</tr>
					</table>
				</div>-->
				<div class="maintable" style="border-radius: 5px;">
					<table cellpadding="0" cellspacing="0" border="0">
						<thead style="background-color: rgba(255,255,255,0.8); position: sticky; top: 0px; left: 0px;">
							<tr style="padding: 10px;">
								<th style="width: 50px;">อันดับที่</th>
								<th style="text-align: center;">ชื่อทีม</th>
								<th>คะแนน</th>
							</tr>
						</thead>
						<tbody id="maintable" >

						</tbody>
					</table>
				</div>
			</div>
		</div>

		<div class="modal fade" id="bye" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
					</div>
					<div class="modal-body" style="text-align: center; font-size: larger;">
						โชคดีนะครับน้องๆ ทุกคน ขอให้เลือกเส้นทางที่ใช่สำหรับตัวเองนะครับบ แล้วเจอกันครับ บ๊ายบายย ~~<br> 💖💖 จากฝ่าย IT 💖💖
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>

		<div style="display: none;">Icons made by <a href="https://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" 			    title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" 			    title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
		
		
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
		
		<script src="js/function.js"></script>
			
	</body>


</html>


