<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>แล้วพบกันเร็วๆ นี้ - ค่ายเส้นทางสู่หมอศิริราชครั้งที่ 20</title>
    <link rel="stylesheet" href="/normal-bundle.css">
    <%- include('includes/css.ejs') %>
  </head>
  <body>
    <img src="https://storage.googleapis.com/simc-web.appspot.com/public/web/soon.png" width="100%" style="margin-bottom: 0; z-index: 1; position: relative">
    <div class="container"></div>
    <%- include('includes/footer.ejs'); %>
    <script src="/normal-bundle.js"></script>
  </body>
</html>