$theme-colors: (
  "green": #eba486,
  "gray" : #393939
);
$primary: #eba486;

$nav-pills-link-active-bg: #eba486;

$dropdown-bg: #393939;
$dropdown-link-color: white;

$grid-gutter-width: 15px;

// $card-spacer-y: .6rem;
$card-spacer-x: 1.18rem;
$card-border-width: 2px;
// $card-border-radius:
// $card-columns-gap: 0.1rem;
$card-border-color: #eba486;

/* $carousel-transition: transform 2s ease, opacity .5s ease-out; */


@import "../../node_modules/bootstrap/scss/bootstrap";