

$list-group-active-color: none;
$list-group-active-bg: none;
$list-group-active-border-color: none;

$list-group-bg: #FF7068;
$list-group-hover-bg: #FF7068;

@import "../../node_modules/bootstrap/scss/bootstrap";